<!-- add-post.component.html -->

<div class="update-form-container">
  <h2>Add Loan Member</h2>
  <form class="update-form" (ngSubmit)="createPost()">
    <div>
      <label for="author">Owner:</label>
      <input
        type="text"
        id="author"
        name="author"
        [(ngModel)]="userDetails.username"
        readonly
      />
    </div>
    <div>
      <label for="title">Borrower Name:</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="postCreated.title"
        required
      />
    </div>
    <div>
      <label for="borrowedAmount">Total Amount Borrowed:</label>
      <input
        type="text"
        id="borrowedAmount"
        name="borrowedAmount"
        [(ngModel)]="postCreated.borrowedAmount"
        required
      />
    </div>
    <div>
      <label for="content">Total Amount to Pay with Interest:</label>
      <input
        type="text"
        id="content"
        name="content"
        [(ngModel)]="postCreated.content"
        required
      />
    </div>
    <!--<div>
      <label for="category">Daily Payable Loan Amount:</label>
      <input
        type="text"
        id="category"
        name="category"
        [(ngModel)]="postCreated.category"
        required
      />
    </div>-->
    <div>
      <label for="createdAt">Created At:</label>
      <input
        type="text"
        id="createdAt"
        name="createdAt"
        [(ngModel)]="postCreated.createdAt"
        readonly
      />
    </div>
    <div>
      <label for="createdAt">Updated At:</label>
      <input
        type="text"
        id="createdAt"
        name="createdAt"
        [(ngModel)]="postCreated.updatedAt"
        readonly
      />
    </div>
    <!--<div>
      <label for="attachment">Balance to Pay:</label>
      <input
        type="text"
        id="attachment"
        name="attachment"
        [(ngModel)]="postCreated.attachment"
      />-->
      <!--<img src="{{postCreated.attachment}}" *ngIf="postCreated.attachment" />-->
    <!--</div>-->
    <div>
      <button type="submit">Add Loan</button>
      <button type="button" (click)="closeAddForm()">Clear</button>
    </div>
  </form>
</div>
