<!-- post.component.html -->
 
<div class="search-container">
  <label for="search">Search Loans:</label>
  <input
    type="text"
    id="search"
    [(ngModel)]="searchText"
    (keyup)="applySearch()"
    placeholder="Search by name"
  />


<div *ngIf="displayedPostList && displayedPostList.length > 0; else noPosts">
   
    
   
  <div class="post" *ngFor="let post of displayedPostList; let i = index">
    
     
    <div class="post-header">
      <div class="post-title">{{post.title}}</div>
    </div>
    
    <div class="post-borrowed-amount">
      <strong><p>Total Loan Amount Borrowed</p></strong>
      {{ post.borrowedAmount || 'N/A' }}
    </div>
    <div class="post-content"><strong><p>Total Amount to Pay with Interest</p></strong>{{post.content}}</div>
    <div class="post-category"><strong><p>Loan Amount Paid Lastly</p></strong>{{post.category}}</div>
    <div class="post-attachment"><strong><p>Balance to Pay</p></strong>{{post.attachment}}</div>
    
    <div class="post-actions" *ngIf="getUserId() === post.author">
      <hr />
      <button
        class="action-button-header"
        style="background-color: green"
        (click)="populateUpdateForm(post)"
      >
        Update
      </button>
      <button
        class="action-button-header"
        style="background-color: crimson"
        (click)="confirmDelete(post)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<ng-template #noPosts>
  <div class="no-posts-container">
    <p>No Loans available</p>
  </div>
</ng-template>

<div *ngIf="showUpdateForm" class="update-form-container">
  <button class="close-button" (click)="cancelUpdate()">X</button>
  <h2>Update Loan</h2>
  <form class="update-form" (ngSubmit)="updatePost(postUpdated._id)">
    <div>
      <label for="author">Owner:</label>
      <input
        type="text"
        id="author"
        name="author"
        [(ngModel)]="userDetails.username"
        readonly
      />
    </div>
    <div>
      <label for="updatePostTitle">Borrower Name:</label>
      <input
        type="text"
        id="updatePostTitle"
        name="updatePostTitle"
        [(ngModel)]="postUpdated.title"
        required
      />
    </div>
    
    <div>
      <label for="updatePostContent">Total Amount to Pay with Interest:</label>
      <input
        type="text"
        id="updatePostContent"
        name="updatePostContent"
        [(ngModel)]="postUpdated.content"
        required
      />
    </div>
    <div>
      <label for="updatePostCategory">Today Payable Loan Amount:</label>
      <input
        type="text"
        id="updatePostCategory"
        name="updatePostCategory"
        [(ngModel)]="postUpdated.category"
        required
      />
    </div>
    <div>
      <label for="createdAt">Created At:</label>
      <input
        type="text"
        id="createdAt"
        name="createdAt"
        [(ngModel)]="postUpdated.createdAt"
        readonly
      />
    </div>
    <div>
      <label for="updatedAt">Updated At:</label>
      <input
        type="text"
        id="updatedAt"
        name="updatedAt"
        [(ngModel)]="postUpdated.updatedAt"
        readonly
      />
    </div>
    <div>
      <label for="updatePostAttachment">Balance to Pay:</label>
      <input
        type="text"
        id="updatePostAttachment"
        name="updatePostAttachment"
        [(ngModel)]="postUpdated.attachment"
        required
      />
      <!--<img src="{{postUpdated.attachment}}" />-->
    </div>
    <div>
      <button type="submit">Update Loan</button>
      <button type="button" (click)="cancelUpdate()">Cancel</button>
    </div>
  </form>
</div>
